<!DOCTYPE html>
<html>
  <head>
    <!-- 核心：Tocas UI -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tocas/4.2.5/tocas.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tocas/4.2.5/tocas.min.js"></script>
    <!-- 字體：Noto Sans TC -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap" rel="stylesheet" />
    <!-- 其他 -->
    <title>Web ATM</title>
  </head>
  <body>
    <div class="ts-container is-narrow">
      <div class="ts-box is-very-elevated has-flex-center">
        <div class="ts-content is-padded">
          <div class="ts-header is-center-aligned">Web ATM</div>
          <div class="ts-segment is-tertiary">
            Tocas UI 是卡莉絲伊繁星的設計語言，而卡莉絲伊繁星屬對空音商事有限公司。
          </div>
          <div class="ts-tab is-center-aligned">
            <button class="item is-active" data-tab="deposit">Deposit</button>
            <button class="item" data-tab="withdraw">Withdraw</button>
          </div>
          <div class="ts-segment" data-name="deposit">
            <form>
              <div class="ts-wrap is-vertical">
                <div class="content is-fluid">
                  <div class="ts-input is-solid is-start-labeled">
                    <span class="label">$</span>
                    <input type="text">
                  </div>
                </div>
                <div class="ts-divider"></div>
                <div class="ts-button">DEPOSIT</div>
              </div>
            </form>
          </div>
          <div class="ts-segment" data-name="withdraw">
            <form>
              <div class="ts-wrap is-vertical">
                <div class="content is-fluid">
                  <div class="ts-input is-solid is-start-labeled">
                    <span class="label">$</span>
                    <input type="text">
                  </div>
                </div>
                <div class="ts-divider"></div>
                <div class="ts-button">WITHDRAW</div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>